body{
    font-family: 'Nunito';
    background-color:white;
    margin:0;
    height: 100vh;
    overflow: hidden;

}

h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}

#chat{
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    height: 100vh;
}

#chat-window{
    overflow: auto;
    background: #f9f9f9;
    min-height: 70%;
    max-height: 70%;
}

.inputs {
    /* position: fixed; */

    right: 0;
    bottom: 0; 
    height: 5%;
    width: 100%;
    /* background: rgba(56, 179, 255, 0.2)!important;; */
    min-height: 30%;
    max-height: 30%;
}



#output p{
    padding: 14px 0px;
    margin: 0 20px;
    background:  rgba(56, 179, 255, 0.5);
    color: #555;
    margin-bottom: 5px;
    border-radius:50px;
    box-sizing: border-box;
    padding:10px;
    padding-left:20px;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}


#handle{
    background-color: rgba(56, 179, 255, 0.2);
    border-bottom: 2px solid #0091EA;
    border-top: 2px solid #0091EA;
}
#message {
    /* border:8px solid red; */
    background-color: rgba(56, 179, 255, 0.2);
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: white;
    border: 0;
    display: block;
    width: 100%;
    min-height: 33.3%;
    max-height: 33.3%;
   
    /* border-bottom: 1px solid #0091EA;; */
    font-family: Nunito;
    font-size: 16px;
}

button{
    background: #0091EA;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
    min-height: 33.3%!important;
    max-height: 33.3%!important;

}

.debug {
    border:2px solid red !important;
}